.tasks {
  width: 100%;
  height: 950px;
  background: rgba(255, 255, 255, 0.95);
  background-image: url("../../assets/logo-compass-g.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 28px 0 41px 24px;
}