section {
  width: 100%;
  height: 1080px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%) no-repeat;
}

.container {
  width: 960px;
  height: 1080px;
  display: block;
  padding: 94px 191px 85px 298px;
}

.box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.box-title {
  width: 100%;
  max-width: 301px;
  height: auto;
  display: flex;
  gap: 18px;
  flex-direction: column;
}

.box-title h1 {
  font-weight: 400;
  font-size: 60px;
  line-height: 75px;
  color: #E0E0E0;
}

.box-title h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #E0E0E0;
}

.form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form label {
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  color: #E0E0E0;
}

.form input {
  width: 379px;
  height: 60px;
  background: #26292C;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
  padding: 20px 0 20px 20px;
  margin-right: 18px;
  background-color: transparent;
  color: #E0E0E0;
}

.form div {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form button {
  width: 379px;
  height: 67px;
  background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
  border: none;
  margin-top: 83px;
}

.img-back {
  max-width: 960px;
  max-height: 1080px;
  display: block;
}

.img-back .logo {
  width: 484px;
  height: 66px;
  position: absolute;
  left: 1198px;
  top: 36px;
  background: url('../../assets/logo-compass.png') no-repeat;
}