.create-task {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.create-task form {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding-right: 24px;
  margin-bottom: 30px;
}

.create-task form div {
  display: flex;
  gap: 3px;
}

.create-task form div input {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  width: 391px;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #FECE00;
  border-radius: 10px;
  padding: 12px 0 13px 15px;
}

#dayId {
  width: 240px;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #FECE00;
  border-radius: 10px;
  padding: 12px 18px 13px 8px;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

#hoursId {
  width: 120px;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #FECE00;
  border-radius: 10px;
  padding: 12px 18px 13px 8px;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

#addId {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  width: 200px;
  height: 44px;
  background: #00BA88;
  border-radius: 10px;
  border: none;
  margin-right: 13px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

#deleteId {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  width: 200px;
  height: 44px;
  background: #FF3D1F;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}